<%= form_for @post do |f| %>
  <div class="block center login small">

       <div class="block_head">
          <h2><%= params[:action].titleize %> Post</h2>
       </div>

      <div class="block_content">
        <%= f.error_messages %>
    

        <div class="input string">
            <%= f.label :title, :class => "string" %>        
            <%= f.text_field :title, :class => "string" %>        
          </div>

          <div class="input string">
            <%= f.label :body, :class => "string" %>
            <%= f.text_area :body, :size => "40x10", :class => "string" %>        
          </div>

          <%= f.submit "Update", :class => "full-width-button" %>    
      </div>
  </div> 
<% end %>