<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
	<p> <%= comment.body %> </p>
	<p> <%= time_ago_in_words comment.created_at %> </p>
	<p> <%= link_to "Delete Comment", [@post, comment], :method => :delete, :confirm => "Are you sure?" %></p>
<% end %>


<%= form_for [@post, @post.comments.build] do |f| %>
	 	<p> <%= f.label :body %> </p>
	 	<p> <%= f.text_area :body, :size => "40x10" %> </p>
	 	<p> <%= f.submit "Add Comment" %> </p> 
<% end %>




<p>
 	<%= link_to "Back", posts_path %> |	
	<%= link_to "Edit", edit_post_path(@post) %> |
	<%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |	
</p>
